<h1><%= @discussion.title %></h1>
<% @messages.each do |message| %>
  <p><%= message.message %></p>
  <p>By: <%= User.GetUserById(message.user_id).try(:nick) %> at <%= message.time.strftime('%H:%M') %></p>
<% end %>
<h3>New Message</h3>
<%= form_tag category_discussion_messages_path(@category, @discussion) do |f| %>
  <div class="form-group">
    <div class="col-sm-6">
      <input type="text" class="form-control" rows="15" name="message[message]" placeholder="Kirjoita viesti">
    </div>
    <div class="col-sm-6"></div>
  </div>
  <div class="form-group" style="padding-left: 15px">
   <%= submit_tag "Post", class: "btn btn-default" %>
  </div>
<% end %>
</div>
