<h1><%= @discussion.title %></h1>
<p><%= @firstMessage.message %></p>
<p>By: <%= User.GetUserById(@firstMessage.user_id).nick %></p>
<% @messages.each do |message| %> 

<%end%>
<h3>New Message</h3>
<%= form_for(:message, url: {controller: 'messages', action: 'create'}, html: {class: "form-horizontal"}) do |f| %>
  <div class="form-group">
    <div class="col-sm-6">
      <%= f.text_area :message, required: true, rows: 15, class: "form-control"%>
    </div>
    <div class="col-sm-6"></div>
  </div>
  <%= hidden_field_tag :category_id, params[:category_id]%>
  <div class="form-group" style="padding-left: 15px">
    <%= f.submit "Post", class: "btn btn-default"%>
  </div>
<% end %>
</div>