<h1><%= @discussion.title %></h1>
<p><%= @firstMessage.message %></p>
<p>By: <%= User.GetUserById(@firstMessage.user_id).nick %></p>
<% @messages.each do |message| %> 
  
<%end%>
<br><br><br><br>
<div class="form-group">
<h4>Reply new message</h4>
<%= form_for(:message, url: {controller: 'messages', action: 'create'}, html: {class: "form-horizontal"}) do |f| %>



<div class="col-sm-6">
      <%= f.text_area :message, required: true, rows: 10, class: "form-control"%>
    </div>

    

    <%= f.submit "Reply message", class: "btn btn-default"%>

    <%end%>
    </div>