<%= link_to "Back to discussions", @category %>
<h1><%= @discussion.title %></h1>
<% @messages.each do |message| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">By: <%= link_to User.GetUserById(message.user_id).try(:nick),user_path(message.user_id) %> at <%= TimeSanitizer.output(message.time).try(:strftime, '%d/%m/%Y %H:%M') %></h3>
    </div>
    <div class="panel-body">
      <%= simple_format(h(message.message)) %>
    </div>
  </div>
<% end %>
<% if is_user_logged_in? %>
<%= form_tag category_discussion_messages_path(@category, @discussion) do |f| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">New Message</h3>
  </div>
  <div class="panel-body">
    <%= text_area_tag 'message', nil, class:'form-control', placeholder:'Write a message', rows:'10' %>
    <br>
     <%= submit_tag "Post Message", class: "btn btn-large btn-primary" %>
  </div>
</div>
<% end %>
<% else %>
Log in to post a message<br/>
<% end %>
<div class="btn-group" style="margin-bottom: 10px" role="group" >
  <% (get_number_of_messages_in_discussion(@discussion.id)/10+1).times do |i| %>
  <%= link_to((i+1), [@category,@discussion, page: (i+1)], class: "btn btn-default")%>
  <% end %>
</div>
