<h1><%= @discussion.title %></h1>
<p><%= @firstMessage.message %></p>
<p>By: <%= User.GetUserById(@firstMessage.user_id).nick %></p>
<% @messages.each do |message| %>

<%end%>
<h3>New Message</h3>
<%= form_tag category_discussion_messages_path(@category, @discussion) do |f| %>
  <div class="form-group">
    <div class="col-sm-6">
      <input type="text" class="form-control" rows="15" name="message[message]" placeholder="Kirjoita viesti">
    </div>
    <div class="col-sm-6"></div>
  </div>
  <div class="form-group" style="padding-left: 15px">
   <%= submit_tag "Post", class: "btn btn-default" %>
  </div>
<% end %>
</div>
