<nav class='navbar navbar-inverse navbar-fixed-top'>
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#tikape_navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Tikape-forum</a>
    </div>
  <div class="collapse navbar-collapse" id="tikape_navbar">
    <ul class='nav navbar-nav'>
      <% if is_user_logged_in? %>
        <li class='nav-item'>
          <%= link_to get_current_user.nick, user_path(session[:user_id]),class: 'nav-link'%>
        </li>
        <% if is_current_user_admin? %>
          <li class='nav-item'>
            <%= link_to 'List all users', all_users_path, class: 'nav-link'%>
          </li>
        <% end %>
      <% end %>
      <li class='nav-item'>
        <%= link_to 'Categories', categories_path, class: 'nav-link'%>
      </li>
    </ul>
    <% if not is_user_logged_in? %>
      <div class="nav navbar-right">
      <%= render 'shared/login' %>
      </div>
    <% end %>
    <ul class='nav navbar-nav navbar-right'>
    <% if not is_user_logged_in? %>
      <li class='nav-item'>
        <%= link_to 'Signup', signup_path, class: 'nav-link'%>
      </li>
    <% else %>
      <li class='nav-item'>
        <%= link_to 'Signout', signout_path, class: 'nav-link'%>
      </li>
    <% end %>
    </ul>
    </div>
  </div>
</nav>  