<table class="table table-striped">
  <thead>
    <tr>
      <th>Category</th>
      <th>Discussions</th>
      <th>Messages</th>
      <th>Latest Message</th>
    </tr>
  </thead>
  <tbody>
  <% @categories.each do |category| %>
    <tr>
      <td><%= link_to category.subject, category %></td>
      <td><%= get_number_of_discussions_in_category(category.id) %></td>
      <td><%= get_number_of_messages_in_category(category.id) %></td>
      <td><%= get_newest_message_date_in_category(category.id) %></td>
    </tr>
    <% if not @allSubCategories[category.id].nil? %>
      <% @allSubCategories[category.id].each do |subCategory| %>
        <tr>
          <td style="padding-left: 25px">&#8627;<%= link_to subCategory.subject, subCategory %></td>
          <td><%= get_number_of_discussions_in_category(subCategory.id) %></td>
          <td><%= get_number_of_messages_in_category(subCategory.id) %></td>
          <td><%= get_newest_message_date_in_category(subCategory.id) %></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
  </tbody>
</table>
