<h1><%= @category.subject %></h1>
<% if is_user_logged_in? %>
  <%=link_to "Create discussion", new_category_discussion_path(@category) %>
<% else %>
  Login to start a new discussion
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Subject</th>
      <th>Messages</th>
      <th>Latest Message</th>
    </tr>
  </thead>
  <tbody>
  <% @discussions.each do |discussion| %>
    <tr>
      <td><%= link_to discussion.title, [@category, discussion] %></td>
      <td><%= get_number_of_messages_in_discussion(discussion.id) %></td>
      <td><%= TimeSanitizer.output(get_newest_message_date_in_discussion(discussion.id)).strftime('%d/%m/%Y %H:%M')) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<div class="btn-group" style="margin-bottom: 10px" role="group" >
  <% (get_number_of_discussions_in_category(@category.id)/10+1).times do |i| %>
  <%= link_to((i+1), [@category,@discussion, page: (i+1)], class: "btn btn-default")%>
  <% end %>
</div>
